﻿@model List<MeyawoPortfolio.Models.TblProject>
<section class="section" id="blog">
    <p class="section-subtitle">Projeler</p>
    <h6 class="section-title mb-6">Proje Uygulama Yöntemleri</h6>

    @foreach (var item in Model)
    {

        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">@item.Title</p>

            <div class="blog-card">
                <div class="blog-card-header">
                    <img src="@item.ImageUrl" class="blog-card-img">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">
                    </h5>

                    <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                        <a href="#"><i class="ti-comment"></i> 123</a>
                    </p>
                    <p>
                        @item.Description
                    </p>
                    <p>
                        @item.ProjectUrl
                    </p>
                    <p>
                        @item.ProjectCategory
                    </p>
                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    }
</section>

